/*  */
:root{
    --bg-color: #fff;
    --link-color: #000;
    --link-size: 1.1rem;
    --right-side-bg-color: #adb5bd;


    --color-10: #003049;
    --color-10-dark: #01111a;
  
    --color-20: #98C8D7;

    --color-30: #446df6;
  
    --color-40: #33ca7f;
  
    --color-50: #fee101;
  
    --color-70: #f77f00;
    --color-70-dark: #5e3101;
  
    --color-80: #fcbf49;
    --color-80-dark: #a8740c;
  
    --color-90: #eae2b7;
}

/*  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Courier New', Courier, monospace;
}

html{
    font-size: 16px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
/*  */
.world{
    width: 100vw;
    height: 100vh;
    
}
.app-bg{
    
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

.app-bg .left-side{
    background-color: var(--bg-color);
    width: 75%;
    height: 100%;
}
.app-bg .right-side{
    background-color: var(--right-side-bg-color);
    width: 25%;
    height: 100%;
}

.myBtn {
	/* box-shadow:inset 0px 39px 0px -24px #e67a73; */

    width: 100%;
    
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.3rem;
	padding:6px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myBtn:hover {
	background-color:#eb675e;
}
.myBtn:active {
	position:relative;
	top:1px;
}   

/* header */

header{
    
    width: 100%;
    height: 100px;

    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99;

}

header nav ul li{
    list-style: none;
}

/* header->shoping bag */

.shopping-bag{
    padding: 10px 5px;
}
.shopping-bag a{
    display: flex;
    align-items: center;
}
.shopping-bag a img{
    width: 32px;
    height: 32px;
    
}

.shopping-bag .total-items-in-cart{
    margin-left: 10px;
    padding: 5px;
    background-color: var(--color-20);
    border-radius: 5px;
}

/* products list */

.products-list{
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    
}

.products {
    height: 100%;
    width: 75%;
    display: grid;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 3fr);
}
.products img{
    width: 200px;
}

.products .item{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.products .item .item-container {
    width: 250px;
    height: 90%;
    background-color: var(--link-color);
    border-radius: 25px;
    position: relative;
    
}

.products .item .item-container .item-img{
    
    width: 100%;
    height: 60%;
    
    background-color: white;
    
    border: 1px solid --link-color;
    border-radius: 25px 25px 0 0 ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.products .item .item-container .desc {
    /* background-color: yellow; */
    width: 100%;
    color: #fff;
    padding: 10px;

}

.products .item .item-container .add-to-cart{

    background-color: var(--color-20);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;

    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.products .add-to-wishlist {
    /* background-color: yellow; */

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 60px;

    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.products .add-to-cart img{
    width: 32px;
    height: 32px;
}

.products .add-to-wishlist img{
    width: 32px;
    height: 32px;
    padding: 5px;
}

/* js13 cart */

.cart{
    height: 100%;
    width: 25%;
    
    position: relative;
}

/* cart header */

.cart-header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    
}

.cart-items{
    
    max-height: calc(100vh-247px);
    overflow-y: auto;
    overflow-x: hidden;
    
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */

.cart-item .item-info{
    background-color: var(--color-80-dark);
    flex: 1;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
.cart-item .item-info:hover{
    background-color: var(--color-20);
    cursor: pointer;
}
.cart-item .item-info img{
    width: 75px;
}

.cart-item .unit-price{
    flex: 1;
}

.cart-item .units{
    flex: 1;
}

.units .number{
    margin: 0 10px;
    font-size: 1.2rem;
    
}

.units .btn{
    
    width: 20px;
    height: 20px;
    
    background-color: var(--color-20);
    border-radius: 50%;
    
    font-weight: bold;
    
    cursor: pointer;
    
    user-select: none;
    
    
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
}

.cart-footer{
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
    border-left:  1px solid --right-side-bg-color;
}

.cart-footer div{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 0;
    background-color: yellow;
}